## Simple Logistic Regression Example

Use Labelled Iris Flower DataSet to train a LogisticRegression model.

In [1]:
import pandas as pd

Load the dataset, adding column names to the loaded DataFrame

In [2]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

col_names = ['sepal-length', 'sepal-width', 'petal-length',
             'petal-width', 'class']

iris_df = pd.read_csv(url, names=col_names)

iris_df.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

A quick look at how many classes of Iris there are

In [3]:
# how many unique classes of iris?

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

Separate the dataframe into:

* X: independent variable matrix  - this is the first 4 columns
* y: dependant variable vector    - this is just the 'class' column

In [4]:
# create a DataFrame called X with the sepal-length, sepal-width, petal-length and petal-width columns


# create a DataFrame called y with just the class column

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

Change the y data from strings to numbers e.g. the new y data will be 0, 1 or 2

In [5]:
# in this case we don't want to strings as our labels - we will "encode" them as numbers
# take a look at the sklearn documentation for preprocessing.LabelEncoder
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

y = y.apply(le.fit_transform)

display(y.head())

   class
0      0
1      0
2      0
3      0
4      0

Split our dataset into training and test sets

In [6]:
# train test split

Create a LogisticRegression object and pass the training data to it's 'fit' function

In [2]:
from sklearn.linear_model import LogisticRegression

# create the model and fit it

A quick check of accuracy with the test data

In [8]:
# we can use the sklearn cofusion_matrix function

from sklearn.metrics import confusion_matrix

predictions = model.predict( X_test )

# pass the actual and the predicted labels for the test data to compare them
print(confusion_matrix(y_test, predictions))

[[ 8  0  0]
 [ 0  9  2]
 [ 0  0 11]]